# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment secrets
.env

# Raw data
data/raw/
data/processed/
data/features/

# Saved models
models/*.pkl

# Jupyter checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs
reports/app.log